@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

/*  Text font size: 14px;
    Heading font-size: 60px;
    Mini-Heading: 34px;
    padding: 0 80px;
    font weight of content: 400;
    hea*/

:root {
    --text-color: #DCDCDC;
    --accent-color: #e3725f;
    --black-color: #000;
    --white-color: #fff;
    --dark-grey-color: #333333;
    --light-grey-color: #555555;
    --bg-subtle-grey-color: #f4f4f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #363535;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgba(0.043, 0.024, 0.012, 0.9);
}

nav #logo-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

nav a img {
    /*img css comes here*/
    width: 40px;
}

nav a h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav .links a {
    /*not necessary*/
}

nav .log-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .log-in button {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

nav .log-in .get-started-btn {
    background-color: var(--accent-color);
    color: black;
    margin-right: 14px;
}

nav .log-in .log-in-btn {
    background-color: var(--accent-color);
    color: black;
    margin-right: 14px;
}

.hero-main {
    background: url(../Project-Imgs/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
}



/* Hero-Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh);
    padding: 0 80px;
}

.hero .hero-content {
    width: 700px;
}

/*Heading of the hero-content*/
.hero .hero-content h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: 100px;
}

.hero .hero-content h1 span {
    color:var(--accent-color);
    font-weight: 600;
}

.hero .hero-content p {
    margin:20px 0;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
}

.hero .hero-content a {
    background: var(--accent-color);
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.hero .hero-content a span{
    color: black;
    font-size: 24px;
    padding:0 5px;
}

.hero .hero-content a p {
    color: black;
    font-size: 16px;
}

.hero .hero-content h6 {
    margin: 30px 0 0 0;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color);
}

.hero .hero-content .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 0;
}

.hero .hero-content .stats .stat-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-content .stats .stat-one span {
    font-size: 50px;
    color: var(--accent-color);
}

.hero .hero-content .stats .stat-one .stat-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
}

.hero .hero-content .stats .stat-one .stat-description p{
    padding: 5px;
    margin-bottom: -14px;
}

.hero .hero-content .stats .stat-one .stat-description .number{
    padding: 5px;
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
}

.hero .hero-image {
    margin-top: 80px;
    height: 500px;
    margin-left: 50px;
}

.hero .hero-image img {
    height: 500px;
}


/* Services section */
.services {
    height: calc(100vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background:url(../Project-Imgs/cleaning-supplies-done.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--bg-subtle-grey-color); */
}

.services .services-a {
    width: 400px;
}

.services .services-a h6 {
    font-size: 14px;
    font-weight: 300;
    color: var(--dark-grey-color);
}

.services .services-a h6 span{
    font-weight: 700;
    color: var(--accent-color);
}

.services .services-a h1{
    font-size: 60px;
    font-weight: 300;
    color: var(--dark-grey-color);
}

.services .services-a h1 span {
    font-weight: 700;
    color: var(--accent-color);
}

.services .services-a p{
    color: var(--dark-grey-color);
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0 ;
}

.services .services-a a {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
    background-color: var(--accent-color);
    border-radius: 10px;
    width: 135px;
}

.services .services-a a span {
    font-size: 20px;
    color: var(--black-color);
    padding: 0 0 0 10px;
}

.services .services-a a p{
    color: var(--black-color);
}

.services .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 700px;
}

.services .services-grid .services-grid-item {
    background-color: var(--white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.services-grid-item:hover {
    transform: scale(1.02);
}

.services .services-grid .services-grid-item span {
    font-size: 60px;
    color: var(--dark-grey-color);
}

.services .services-grid .services-grid-item h1 {
    font-size: 24px;
    font-weight: 400;
    color: var(--dark-grey-color); /*dark grey!*/
}

.services .services-grid .services-grid-item p {
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey-color); /*light grey*/
    margin: 10px 0;
}



/*Why Us Section-Official*/
.why-us {
    border: 1px solid white;
    height: calc(100vh + 20px);
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    background-color: white;
}

.why-us .why-img {
    height: 300px;
    border: 2px solid white;
}

.why-us .why-img img {
    max-height: 500px;
    margin: -80px 0 0 0;
    box-shadow: 8px 8px 8px rgba(14, 10, 10, 0.3); 

}

.why-us .why-div {
    width: 700px;
}

.why-us .why-div h1 {
    font-size: 60px;
    font-weight: 300;
    color: var(--dark-grey-color);
}

.why-us .why-div h1 span {
    font-weight: 700;
    color: var(--accent-color);
}

.why-us .why-div hr {
    height: 5px;
    width: 150px;
    background-color: var(--accent-color);
    border: none;
    margin: 20px 0;
}

.why-us .why-div p {
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey-color);
    margin: 20px 0;
}

.why-us .why-div .why-point-div {
    display: flex;
    align-items: center;
}

.why-us .why-div .why-point-div span {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-grey-color);
    margin: 0 20px;
}

.why-us .why-div .why-convinced {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.why-us .why-div .why-convinced h6 {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-grey-color);
    
}

.why-us .why-div .why-convinced a {
    font-size: 14px;
    font-weight: 400;
    color: var(--accent-color);
}



/* Testimonial Section*/
.testimonials {
    border: 1px solid white;
    height: calc(100vh - 80px);
    padding: 0 80px;
    align-items: center;
    background-color: var(--bg-subtle-grey-color);
}

.testimonials h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey-color);
    margin-top: 40px;
}

.testimonials h6 span {
    font-weight: 700;
    color: var(--accent-color);
}

.testimonials h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    color: var(--dark-grey-color);
}

.testimonials h1 span {
    font-weight: 700;
    color: var(--accent-color);
}

.testimonials .test-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.testimonials .test-container .test-item {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.testimonials .test-container .test-item .speech{
    width: 30px;
}

.testimonials .test-container .test-item p{
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey-color);
    padding: 0 20px;
    margin-top: 10px;
}

.testimonials .test-container .test-item .img-container {
    text-align: center;
    margin: 20px 0;
}

.testimonials .test-container .test-item .img-container .portrait {
    width: 70px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--accent-color);
}

/* Revisit this h6 shenanigans*/
.testimonials .test-container .test-item .name  {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-grey-color);
    margin-top: -10px;
}

.testimonials .test-container .test-item h6  {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: var(--light-grey-color);
    margin-top: -1px;
}


/*Footer Section*/
.footer {
    
}